{% extends 'base.html.twig' %}

{% block body %}
    <h1>Products list</h1>

        
    <a href="{{ path('product_new') }}"><button class="btn btn-success">Create a new product</button></a>
        

    <table class="table" style="background-color:white;">
        <thead>
            <tr>
                <th>Id</th>
                <th>Product</th>
                <th>Category</th>
                <th>Photo</th>
                <th>Genre</th>
                <th>Iduser</th>
                <th>Createat</th>
                <th>Updateat</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td><a href="{{ path('product_show', { 'id': product.id }) }}" style="color:black;">{{ product.id }}</a></td>
                <td>{{ product.product }}</td>
                <td>{{ product.category }}</td>
                <td>{{ product.photo }}</td>
                <td>{{ product.genre }}</td>
                <td>{{ product.idUser }}</td>
                <td>{% if product.createAt %}{{ product.createAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if product.updateAt %}{{ product.updateAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ product.price }}</td>
                <td>
                    <ul>
                        
                            <a href="{{ path('product_show', { 'id': product.id }) }}"><button class="btn btn-primary">Show</button></a>
                        
                       
                            <a href="{{ path('product_edit', { 'id': product.id }) }}"><button class="btn btn-warning">Edit</button></a>
                        
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
