{% extends 'base.html.twig' %}

{% block body %}
    <h1>Product</h1>

    <table class="table table-dark">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ product.id }}</td>
            </tr>
            <tr>
                <th>Product</th>
                <td>{{ product.product }}</td>
            </tr>
            <tr>
                <th>Brand</th>
                <td>{{ product.brand }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ product.photo }}</td>
            </tr>
            <tr>
                <th>Genre</th>
                <td>{{ product.genre }}</td>
            </tr>
            <tr>
                <th>Iduser</th>
                <td>{{ product.idUser }}</td>
            </tr>
            <tr>
                <th>Createat</th>
                <td>{% if product.createAt %}{{ product.createAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updateat</th>
                <td>{% if product.updateAt %}{{ product.updateAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ product.price }}</td>
            </tr>
        </tbody>
    </table>

    
    <div>
            <a href="{{ path('product_index') }}" style="color:white;">Back to the list</a>
    </div>
        
        <div>
            <a href="{{ path('product_edit', { 'id': product.id }) }}" style="color:white;">Edit</a>
        </div>
        
        
            {{ form_start(delete_form) }}
                <input  class="btn btn-primary" type="submit" value="Delete">
            {{ form_end(delete_form) }}
        
    
{% endblock %}
