{% extends 'base.html.twig' %}
{% block stylesheets %}{% endblock %}

{% block body %}


    {% for sunglasses in sunglasses%}

        <table class="table table-bordered table-dark">
            <thead>
                <tr>
                    <th scope="col">Articulo</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Unidades</th>
                    <th scope="col">Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row"><img alt="..." class="card-img-top" src="/img/{{sunglasses.photo}}" style="width:10em;"></td>
                    <td>{{sunglasses.precio}}€</td>
                    <td>
                        <a href="{{ path('delete_one', { 'id': sunglasses.id, 'user':app.user.id })}}">-</a>
                        {{sunglasses.cantidad}}<a href="/shop/cart/addone/{{app.user.id}}/{{sunglasses.id}}">+</a>
                    </td>
                    <td>{{sunglasses.precio * sunglasses.cantidad}}€<a href="/shop/cart/delete/{{app.user.id}}/{{sunglasses.id}}">X</a></td>
                </tr>
            </tbody>
        </table>

        {% set totalcompra =  totalcompra + sunglasses.precio * sunglasses.cantidad %}
        {% set totalproductos = totalproductos + sunglasses.cantidad %}
        {% set articulos = articulos + 1 %}




    {% endfor %}

    <table class="table table-bordered table-dark">
            <thead>
                <tr>
                    <th scope="col">Articulos en la cesta</th>
                    <th scope="col">Unidades</th>
                    <th scope="col">Total articulos</th>
                    <th scope="col">Total pedido</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row">{{articulos}}</td>
                    <td></td>
                    <td>{{totalproductos}}uds.</td>
                    <td>{{totalcompra}}€</td>
                </tr>
            </tbody>
        </table>

        <button class="btn btn-success">Comprar</button>


    {% endblock %}
